{
  "extends": [
    "airbnb",
    "plugin:flowtype/recommended"
  ],
  "plugins": [
    "flowtype"
  ],
  "rules": {
    "react/jsx-filename-extension": "off",
  },
  "env": {
    "browser": true,
  },
  "globals": {
    "browser": true,
  },
}
