{
  "extends": [
    "airbnb",
    "plugin:flowtype/recommended"
  ],
  "plugins": [
    "flowtype",
    "jest"
  ],
  "rules": {
    "react/jsx-filename-extension": "off",
    "jsx-a11y/anchor-is-valid": "off",
  },
  "env": {
    "browser": true,
    "jest/globals": true,
  },
  "globals": {
    "browser": true,
  },
}
